<form [formGroup]="characterBioForm">
    <div class="form-group row">
        <label for="name" class="col-sm-1">Name:</label>
        <div class="col-sm-4">
            <input type="text" formControlName="name" placeholder="Enter the OC's name" class="form-control" id="name">
        </div>
    </div>
    <div class="form-group row">
        <label for="firstName" class="col-sm-1">First name:</label>
        <div class="col-sm-4">
            <input type="text" formControlName="firstName" placeholder="Enter the OC's first name" class="form-control"
                   id="firstName">
        </div>
    </div>
</form>
